$list-item__text-color: #363636;
$list-item__title-fs: 20px;
$list-item__text-fs: 16px;
$list-item__type-color: #ffffff;
$list-item-ff: 'Open Sans', sans-serif;
$list-item__title-fw: 700;
$list-item__type_blue-color: #006F79;
$list-item__type_orange-color: #EC6608;
$list-item-bg-color: #F8F8F8;
$list-item-border: 1px solid #D8D8D8;
$list-item__img-wrapper-h: 227px; 
$list-item__title-pt: 20px;
$list-item__type-p: 5px; 

.list-item__title, .list-item__address,
 .list-item__price, .list-item__additional-info {
    margin: 0;

    color: $list-item__text-color;
    padding-left: 20px;
}

.d-none {
    display: none;
}

.list-item a {
    text-decoration: none;
}

.list-item {
    width: 379px;
    height: 381px;
    margin: 0 0 38px 0;

    position: relative;

    list-style-type: none;
    background: $list-item-bg-color;
    border: $list-item-border;
    box-sizing: border-box;

    font-size: $list-item__text-fs;
    font-family: $list-item-ff;
}

.list-item__img-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    height: $list-item__img-wrapper-h;
}

.list-item__img {
    width: 100%;
    height: 100%;
}

.list-item__title {
    margin: 0;
    padding-top: $list-item__title-pt;

    font-family: $list-item-ff;
    font-weight: $list-item__title-fw;
    font-size: $list-item__title-fs;
}

.list-item__type {
    position: absolute;
    right: 0;
    bottom: 0;

    margin: 0;
    padding: $list-item__type-p;

    color: $list-item__type-color;
}

.list-item__type_blue {
    background-color: $list-item__type_blue-color;
}

.list-item__type_orange {
    background-color: $list-item__type_orange-color;
}

.list-item__price {
    padding-top: 15px;
}

.list-item__price span {
    padding: 0 0 0 2%;

    font-weight: bold;    
}

.list-item__additional-info {
    padding-top: 7px;
}

@media (max-width: 480px) {
    .list-item {
        width: 79vw;
    }

    .list-item__img-wrapper {
        height: 47.292vw;
    }

    .list-item__img {
        height: 100%;
    }
}